.sec4{
    text-align: center;
margin-bottom:200px;
height: 800px;
width: 100%;
background-color: #F6F6F6 !important;
}
.pay
{
    display: flex;
    padding: 50px 20px;
    justify-content: center;
}

.pay1 button
{
    margin-top: 31px;
    border-radius:5px;
    padding: 20px 30px;
    font-size: 20px;
    color: #F53838;
    border: 1px solid #F53838 ;
background-color:white ;
    width: 70%; 
}
.pay .pay1{
  
    padding: 20px 30px;
 margin-left:40px ;
    width: 200px;
    height: 610px;
    border: 0.939651px solid #F53838;
border-radius: 20px;
}